.phoneIcon {
  width: 24px;
  height: 24px;
}

.verticalLine {
  width: 1px;
  height: 24px;
  background-color: #999;
}

.title {
  // font-family: Metropolis;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
}

.subTitle {
  // font-family: Metropolis;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #999999;
}

.subHeader {
  // font-family: Metropolis;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #363940;
}

.context {
  // font-family: Metropolis;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #999999;
}
